.button {
    background-color: white;
    border-radius: 20px;
    border: 1px solid #DADCE0;
    background: #FFF;
    margin: 5px;
    padding: 11px 71.97px;
    font-size: 14px;
    display:flex;
    width: 300px;
    justify-content: center;
    font-weight:bold;
}
