.footer {
    color: var(--lightgray);
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
}
.footer ul {
    list-style-type: none;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    line-height: 24px;
    padding: 0;
}

.footer li {
    padding-right: 16px;
}

