.footer {
    color: var(--lightgray);
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
}
.footer ul {
    list-style-type: none;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    line-height: 24px;
    padding: 0;
}

.footer li {
    padding-right: 16px;
}

@media (max-width:414px){
    .logoContainer img{
      display:Flex;
      position: absolute;
      width: 10%;
      height:10%;
      top:0;
      left:40px;
      margin-top:10px;
    }
    .page{
      vertical-align: middle;
      margin:auto;
      align-items: center;
    }
    .one{
      font-size: 40px;
      justify-content: left;
    }

    .footer{
        display:flex;
        width:98%;
        height:90%;
        line-height:20px;
        margin-top:-30px;
        font-size:12px
    }
    .footer li{
        display:flex;
        line-height:180%;
        flex-direction: column;
    }
}

