  @font-face {
    font-family: 'chirp extended heavy';
    src: url('/fonts/chirp-extended-heavy-web.woff2');
  }

  .main {
    display: flex;
    padding: 6rem;
    width:300px;
    height:24px;
    align-items: center;
  }

  .one {
    display:flex;
    color: var(--white);
    font-family: 'chirp extended heavy';
    font-weight: bold;
    font-size: 60px;
    padding: 6rem;  
    margin-bottom:10%;
    margin-top:-6%;
    justify-content: flex-end;
  }

  .two {
    color: var(--white);
    font-family:'chirp extended heavy';
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10%;
  }

  .three {
    color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 17px;
    margin-top:20%;
    margin-bottom:4%;
  }

  .sub {
  display: flex;
  flex-direction: column;
  color: var(--white);
  margin-top:-40%;
  }

  .logoContainer{
    display: flex;
    align-items: center;
    margin-left:-34%;
    margin-bottom:70%;
  }

  .mainLine {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    font-size: 15px;
    
  }

  .line {
    background-color: var(--gray);
    height: 1px;
    margin-left: 5px;
    margin-right: 5px;
    flex: 1;
  }

  .weight{
    font-weight:bold;
  }

  .blueText{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: var(--blue);
    margin:auto;
  }

  .whiteText{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: var(--lightgray);
    margin:auto;
  }

  .text{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:300px;
    height:24px;
  }

  @media(min-width:414px) and (max-width:820px){
    .logoContainer img{
      display:Flex;
      position: absolute;
      width: 10%;
      height:10%;
      top:0;
      left:40px;
    }
  }

  @media (max-width:414px){
    .logoContainer img{
      display:Flex;
      position: absolute;
      width: 10%;
      height:10%;
      top:0;
      left:40px;
    }
    .page{
      vertical-align: middle;
      margin:auto;
      align-items: center;
    }
  }